<div class="about-container">
    <div class="container">
        <div class="grid">
            <div class="grid__col grid__col--3-of-5 grid__col--centered">
                <h2 class="about-header">How it works?</h2>
                <ul class="about-content-list">
                    <li>You create a page with and optional password.</li>
                    <li>If a password was added, the password is required to view and post messages.</li>
                    <li>If no password is on the page, it is public and anyone can access it.</li>
                </ul>
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--3-of-5 grid__col--centered">
                <h2 class="about-header">What's the point?</h2>
                <p class="about-content">We wanted to create a place, that is completly anonymous, where you can post to the public about your interests, create a private message board, or even a personal page to post todos.
                    <br>No personal information is stored on our servers. All we know is that this messages was posted to that page.</p>
            </div>
        </div>
         <div class="grid">
            <div class="grid__col grid__col--3-of-5 grid__col--centered">
                <h2 class="about-header">BETA!</h2>
                <p class="about-content">The website is still in beta and we are actively developing it. Please let us know about any bugs or problems with the site. Also note, that in beta, all pages will probably be removed and reset as major changes occur.</p>
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--3-of-5 grid__col--centered">
                <h2 class="about-header">Contact us</h2>
                <form class="pure-form about-content contact-form">
                    <label ng-class="{error: error && error != ''}">{{error}}</label>
                    <label ng-class="{success: success && success != ''}">{{success}}</label>
                    <textarea ng-model="message" ng-keypress="isEnter($event)" class="message-area" rows="5" class- "pure-input-1" placeholder="Message"></textarea>
                    <button type="submit" ng-click="sendEmail(message)" class="pure-button pure-input-1">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
