<div class="container">

    <div class="grid">
        <div class="grid__col grid__col--2-of-4 grid__col--centered center">
            <h2>Do you want to create the page {{name}}?</h2>
        </div>
    </div>
    <div class="grid">
        <div class="grid__col grid__col--1-of-4 grid__col--centered">

            <form novalidate class="pure-form join-chat-form">
                <input type="password" ng-model="password" class="pure-input-1" placeholder="Password">
                <button type="submit" ng-click="createPage(password)" class="pure-button pure-input-1">Create</button>
        </div>
        </form>
    </div>
</div>
