<div class="home-margin">
    <div class="container">
        <div class="grid">
            <div class="grid__col grid__col--1-of-4 grid__col--centered">
                <form novalidate class="pure-form join-chat-form">
                    <input type="text" ng-model="name" class="pure-input-1" placeholder="Page Name">
                    <button type="submit" ng-click="findPage(name)" class="pure-button pure-input-1">Join</button>
                </form>
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--1-of-6 grid__col--centered center">
                <div class="add-margin-top">
                    <a ng-click="allPages()" class="cursor-onmouseover">Searching for a topic?</a>
                </div>
            </div>
        </div>
        <div ng-repeat="page in pages">
            <div class="grid">
                <div class="grid__col grid__col--1-of-2 grid__col--centered">
                    {{page.name}}
                </div>
            </div>
        </div>
    </div>
</div>

