<div class="home-margin">
    <div class="container">
        <div class="grid">
            <div class="grid__col grid__col--1-of-4 grid__col--centered">
                <form novalidate class="pure-form join-chat-form">
                    <input type="text" ng-model="name" class="pure-input-1" placeholder="Page Name">
                    <button type="submit" ng-click="findPage(name)" class="pure-button pure-input-1">Join</button>
                </form>
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--3-of-4 grid__col--centered center">
                <div class="add-margin-top">
                    <a ng-click="allPages()" class="cursor-onmouseover">
                        <h3>Searching for a topic?</h3>
                    </a>
                </div>
            </div>
        </div>
        <div ng-repeat="page in pages">
            <div class="grid">
                <div class="grid__col grid__col--3-of-5 grid__col--centered center">
                    <a ng-href="http://localhost:9090/#/{{page.name}}" class="cursor-onmouseover remove-hyperlink"><h4>{{page.name}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
