<div class="container">
    <div class="messages">
        <div ng-hide="isAuth" class="grid">
            <div class="grid__col grid__col--1-of-4 grid__col--centered">
                <form ng-show="page.isPass" class="pure-form pure-form-stacked">
                    <p ns-hide="err" class="error">{{err}}</p>
                    <input id="password" ng-model="password" type="password" class="pure-input-1" placeholder="Password">
                    <button type="submit" ng-click="authPage(password)" class="pure-button pure-input-1">Enter</button>
                </form>
            </div>
        </div>

        <div ng-show="isAuth" class="grid">
            <div class="grid__col grid__col--1-of-4 grid__col--centered">
                <form class="pure-form join-chat-form">
                    <textarea ng-model="message" id="message-area" rows="3" class-"pure-input-1" placeholder="Message"></textarea>
                    <button type="submit" ng-click="createMessage(password, message)" class="pure-button pure-input-1">Submit</button>
                </form>
            </div>
        </div>

        <div ng-repeat="msg in messages" class="grid message">
            <div class="grid__col grid__col--3-of-4 grid__col--centered">
                <blockquote>{{msg.body}}</blockquote>
            </div>
            <hr>
        </div>
    </div>
</div>
