<div class="pageContainer">

    <div ng-class="{hidden: isCreated}" class="createContainer">
        <div class="grid">
            <div class="grid__col grid__col--2-of-4 grid__col--centered center">
                <h2>Do you want to create the page {{name}}?</h2>
            </div>
        </div>
        <div class="grid">
            <div class="grid__col grid__col--1-of-4 grid__col--centered">
                <form novalidate class="pure-form join-chat-form">
                    <input type="password" ng-model="password" class="pure-input-1" placeholder="Optional Password">
                    <button type="submit" ng-click="createPage()" class="pure-button pure-input-1">Create</button>
            </div>
            </form>
        </div>
    </div>

    <div ng-class="{hidden: isAuth || !isCreated}" class="grid">
        <div class="grid__col grid__col--1-of-4 grid__col--centered">
            <form ng-show="page.isPass" class="pure-form pure-form-stacked">
                <p ns-hide="err" class="error">{{err}}</p>
                <input id="password" ng-model="password" type="password" class="pure-input-1" placeholder="Password">
                <button type="submit" ng-click="authPage()" class="pure-button pure-input-1">Enter</button>
            </form>
        </div>
    </div>

    <div ng-class="{hidden: !isAuth || !isCreated}" class="grid enterMessage">
        <div class="grid__col grid__col--2-of-4 grid__col--centered">
            <form class="pure-form join-chat-form">
                <textarea ng-model="message" ng-keypress="isEnter($event)" id="message-area" rows="3" class- "pure-input-1" placeholder="Message"></textarea>
                <button type="submit" ng-click="createMessage(message)" class="pure-button pure-input-1">Submit</button>
            </form>
        </div>
    </div>

    <div infinite-scroll="scrollLoadMessages" class="messages">
        <div ng-repeat="msg in messages" class="grid message">
            <div class="grid__col grid__col--4-of-5 grid__col--centered">
                <blockquote class="content-quote" style="border-color: {{msg.color}}">{{msg.body}}</blockquote>
            </div>
        </div>
    </div>
</div>
