
body ::-moz-selection { background: #58FAD0; }
body ::selection      { background: #58FAD0; }

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.main-container {
  max-width: 1600px;
  margin: auto;
}

.show-pages-link {
  text-decoration : none;
  color : #4C4C4C;
}

.header-link {
  text-decoration: none;
  color: #323232;
}

.cursor-onmouseover {
  cursor: hand;cursor: pointer;
}

.header {
  /*margin-top: 10em;*/
  font-family: "omnes-pro",sans-serif;
}

.header h1 {
  font-family: 'Roboto', sans-serif;;
  font-weight: 100;
  font-size: 900%;
  margin-bottom: 0.1em;
}

.add-margin-top {
  margin-top: 4em;
}

.header h2 {
  font-weight: 100;
  font-size: 200%;
}

.header_letter {
  background-color: #58FAD0;
}

.join-input {
  width: 10em;
}

.join-button {
  width: 10em;
}

.error {
  color: red;
  font-size: small;
}

.success {
  color: green;
  font-size: small;
}

 .message-area {
  resize: vertical;
  width: 100%;
 }

.container {
  margin-top: 3em;
}

.messages {
  margin-top: 2em;
  margin-bottom: 2em;
}

.page {
  color: #535353;
  line-height: 1.1;
  border-left: 5px solid;
  border-right: 5px solid;
  padding: 0.7em 1em;
  margin-bottom: 0;
  margin-top: 0;
}

.enterMessage {
  padding-top: 1em;
}

.about-content {
  margin: 0 3em;
}

.about-content-list {
  margin: 0 2em;
}

.front-list {
  margin-bottom: 4em;
}

.about-email {
  margin-bottom: 3em;
}

.preview {
  background-color: #EAEAEA;
  color: #666;
  line-height: 1.3;
  padding: 1em 1.5em;
  margin-top: 1em;
  overflow-wrap: break-word;
}

.content-body {
  color: #666;
  line-height: 1.3;
  border-left: 5px solid;
  border-right: 5px solid;
  padding: 1em 1.5em;
  overflow-wrap: break-word;
}

.content-body blockquote, .preview blockquote {
  border-color: #7C7C7C;
  border-left: 2px solid;
  padding-left: 1em;
  font-style: italic;
}

.content-body code, .preview code {
  white-space: pre;
}

.content-body img, .preview img {
  max-height: 200px;
}
