
body ::-moz-selection { background: #58FAD0; }
body ::selection      { background: #58FAD0; }

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.remove-hyperlink {
  text-decoration : none;
  color : #4C4C4C;
}

.cursor-onmouseover {
  cursor: hand;cursor: pointer;
}

.header {
  /*margin-top: 10em;*/
  font-family: "omnes-pro",sans-serif;
}

.header h1 {
  font-weight: 100;
  font-size: 800%;
}

.add-margin-top {
  margin-top: 4em;
}

.header h2 {
  font-weight: 100;
  font-size: 200%;
}

.join-input {
  width: 10em;
}

.join-button {
  width: 10em;
}

.error {
  color: red;
}

 #message-area {
  resize: none;
  width: 100%;
 }

.container {
  margin-top: 3em;
}

.messages {
  margin-top: 2em;
}

.message {
  margin-bottom: -1em;
  margin-top: 0;
}

.content-quote {
  /*font-family: "Georgia", serif;*/
  color: #666;
  font-style: italic;
  line-height: 1.3;
  border-left: 5px solid;
  border-right: 5px solid;
  padding: 0.5em 1.5em;
  overflow-wrap: break-word;
}

.enterMessage {
  padding-top: 1em;
}
